<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doudou.dao.StudentDao">

    <resultMap id="RM-STUDENT" type="com.doudou.model.StudentRepo" >
        <!-- 共有数据-->
        <id column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <!--自定义数据-->
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="sex" property="sex" />
    </resultMap>

    <sql id="STUDENT-RF" >
        id, gmt_create, gmt_modified,name,remark,sex
    </sql>

    <insert id="insertStudent" parameterType="com.doudou.model.StudentRepo">
        insert into t_student(gmt_create, gmt_modified,name,remark,sex)
        values (#{gmtCreate},#{gmtModified},#{name},#{remark},#{sex})
    </insert>

    <select id="getAllStudents" resultMap="RM-STUDENT">
        select <include refid="STUDENT-RF" />
        from t_student
    </select>

</mapper>